{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>CRUD - Bibliotech</title>
    <link rel="stylesheet" href="{% static 'sitecrud/sistema-restrito-crud.css' %}">
</head>
<body>
<a href="{% url 'index' %}" class="btn-voltar">Voltar</a>
<h1><strong>GERENCIAMENTO DE LIVROS</strong></h1>
<div class="flex">
<form method="post" action="{% url 'sistema-restrito-crud' %}" class="add-book-form">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group">
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" required>
        </div>

        <div class="form-group">
            <label for="ano_de_publicacao">Ano de Publicação:</label>
            <input type="number" id="ano_de_publicacao" name="ano_de_publicacao" required>
        </div>
    </div>

    <div class="bt-flex">
        <button type="submit" class="submit-button">Incluir</button>
    </div>
</form>

<div class="action-section">
    <div class="form-row">
        <div class="form-group">
            <label for="alterar_titulo">Título:</label>
            <input type="text" id="alterar_titulo" name="alterar_titulo">
        </div>

        <div class="form-group">
            <label for="alterar_ano">Ano de Publicação:</label>
            <input type="number" id="alterar_ano" name="alterar_ano">
        </div>
    </div>

    <div class="button-row">
        <button type="button" class="action-button" id="btnAlterar">Alterar</button>
        <button type="button" class="action-button" id="btnExcluir">Excluir</button>
    </div>
</div>
</div>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Código</th><th>Título</th><th>Ano de Publicação</th>
            </tr>
        </thead>
        <tbody>
            {% for livro in livros %}
                <tr data-id="{{ livro.id }}" data-titulo="{{ livro.titulo }}" data-ano="{{ livro.ano_de_publicacao }}">
                    <td>{{ livro.id }}</td>
                    <td>{{ livro.titulo }}</td>
                    <td>{{ livro.ano_de_publicacao }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="3">Nenhum livro cadastrado.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="{% static 'sitecrud/sistema-restrito-crud.js' %}"></script>
</body>
</html>